/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.display-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    background-color: #353839;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;

} */